a:6:{s:7:"favicon";s:36:"fbf6b75a8e4f4b6ec2594a17b7b430d9.png";s:11:"faviconFile";O:20:"yii\web\UploadedFile":5:{s:4:"name";s:11:"favicon.png";s:8:"tempName";s:36:"/Applications/MAMP/tmp/php/phpxMCCkr";s:4:"type";s:9:"image/png";s:4:"size";i:1658;s:5:"error";i:0;}s:4:"logo";a:5:{i:1;s:36:"6d0b01b9bb8978d9320e1291981a1439.png";i:2;s:36:"6d0b01b9bb8978d9320e1291981a1439.png";i:3;s:0:"";i:4;s:0:"";i:5;s:0:"";}s:8:"logoFile";a:0:{}s:9:"mainColor";s:7:"#1aa79b";s:15:"additionalColor";s:7:"#e11356";}